.post-create {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    &__placeholder {
        font-size: 20px;
        margin-bottom: 10px;
    }

    &__field {
        width: 100%;
        background-color: #f3f3f3;
        padding: 10px 15px;
    }

    &__img {
        position: relative;
        border-radius: 15px;
        overflow: hidden;

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: 0.3s;
            content: '';
            opacity: 0;
            background-color: #000;
            z-index: 9;
        }

        &:hover {
            &::before {
                opacity: 0.2;
            }

            .post-create__img-delete {
                opacity: 1;
            }
        }

        img {
            max-height: 320px;
        }
    }

    &__img-delete {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 30px;
        height: 30px;
        opacity: 0.5;
        cursor: pointer;
        opacity: 0;
        transition: 0.3s;
        z-index: 10;

        &::before,
        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 15px;
            height: 2px;
            background-color: #000;
            content: '';
            transition: 0.3s;
        }

        &::after {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::before {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover {
            opacity: 1;

            &::before,
            &::after {
                background-color: red;
            }
        }
    }
}